$color-primary: #5d93fa;

$text-white: #fff;

$bg-black: #000;
$bg-black-10: lighten($bg-black, 10%);
$bg-black-20: lighten($bg-black, 20%);
$bg-black-30: lighten($bg-black, 30%);
$bg-black-40: lighten($bg-black, 40%);
